#navbar {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  padding: 0px 8px;
  align-items: center;
}

h1 {

  font-family: 'Nunito', sans-serif;

}

#navbar-links {
  background-color: white;

  display: flex;
  color: black;
  gap: 50px;
  font-size: 17px;
  line-height: 40px;


}



.navbar-link a {
  font-family: 'Nunito', sans-serif;
  color: black;
  text-decoration: none;

}
